.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 70px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    margin: 74px 0 0;
  }

  &__list {
    max-width: 410px;
    width: 100%;

    margin: 107px 0 0;
  }

  &__cell {
    display: flex;
    justify-content: space-between;

    padding: 16px 0;
    border-bottom: 1px solid #424242;

    &:last-child {
      border: none;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    margin: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    margin: 0;
  }

  &__button {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    padding: 0;
    border: none;
    background: none;

    margin: 204px 0 0;

    &_red {
      font-weight: 500;
      color: #EE3465;

      margin: 16px 0 70px;
    }
  }
}