.promo {
  padding: 0 70px;
  background-color: #073042;

  &__container {
    display: flex;
    justify-content: space-between;

    margin-top: 75px;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 50px;
    line-height: 58px;
    max-width: 640px;

    margin: 0;
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    max-width: 310px;

    margin: 0;
    margin-top: 36px;

    opacity: 0.5;
  }

  &__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    background-color: #073042;
    border: 1px solid rgba(#FFF, .6);
    border-radius: 3px;
    max-width: 129px;
    padding: 10px 0;

    margin-top: 146px;
    margin-bottom: 75px;
  }

  &__logo {
    background: {
      image: url('../../images/landing-logo.svg');
      size: contain;
      repeat: no-repeat;
    }
    width: 310px;
    height: 304px;
  }
}