%font {
  font: {
    family: 'Inter', Arial, sans-serif;;
    style: normal;
    weight: 400;
  }
}

.page {
  @extend %font;
  min-width: 320px;
  min-height: 100vh;
  color: #FFF;
  background-color: #202020;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__header {
    @extend %font;
    font-size: 22px;
    line-height: 27px;
    margin: 0;

    margin-bottom: 23px;
  }

  &__title {
    @extend %font;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
  }

  &__section {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.link {
  @extend %font;
  color: #fff;
  transition: opacity .5s ease-in-out;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.button {
  @extend %font;
  color: #fff;
  transition: opacity .5s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.container {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #DADADA;
}