.page {
  font: {
    family: 'Inter', Arial, sans-serif;;
    style: normal;
    weight: 400;
  }
  min-width: 320px;
  min-height: 100vh;
  padding: 0 70px;
  color: #FFF;
  background-color: #202020;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: #fff;
  transition: opacity .5s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.button {
  color: #fff;
  transition: opacity .5s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.section {
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 22px;
    line-height: 27px;
    margin: 0;

    border-bottom: 1px solid #DADADA;
  }
}