.navigation {
  &__link {
    font-size: 14px;
    line-height: 18px;

    &_to_saved-movies {
      margin-left: 20px;
    }

    &_to_profile {
      line-height: 16px;

      border: 2px solid #AAAAAA;
      border-radius: 50px;
      box-sizing: border-box;

      padding: 6px 10px 6px 29px;
      margin-left: 50px;

      background-image: url('../../images/icon-main.svg');
      background-size: 12px 14px;
      background-repeat: no-repeat;
      background-position: 10px 7px;
    }
  }
}