%font {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 396px;
    width: 100%;
    max-height: 700px;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 100%
  }

  &__logo {
    margin: 70px 0 0;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    margin: 40px 0;
  }

  &__submit {
    @extend %font;
    font-weight: 500;

    width: 100%;

    padding: 13px 0 15px;
    border: none;
    background: #4285F4;
    border-radius: 3px;
  }

  &__container {
    display: flex;
    justify-content: center;

    margin: 16px 0 70px;
  }

  &__text {
    @extend %font;
    color: #8B8B8B;

    margin: 0;
  }

  &__link {
    @extend %font;
    color: #4285F4;

    margin: 0 0 0 6px;
  }
}

@media screen and (max-width: 520px) {
  .auth {
    &__form {
      max-width: 100%;
      max-height: 100%;

      box-sizing: border-box;
      padding: 0 30px;
    }

    &__content {
      align-items: center;
    }

    &__logo {
      margin: 56px 0 0;
    }

    &__title {
      text-align: center;

      margin: 50px 0 80px;
    }

    &__submit {
      font-size: 12px;
      line-height: 15px;
    }

    &__container {
      margin: 14px 0 30px;
    }

    &__text {
      font-size: 12px;
      line-height: 15px;
    }

    &__link {
      font-size: 12px;
      line-height: 15px;
    }
  }
}