.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 70px 39px;
  border-top: 1px solid #424242;
  box-sizing: border-box;

  &__container {
    display: flex;
    align-items: center;

    width: 100%;
    margin-top: 80px;
  }
  
  &__input {
    width: 100%;
    max-width: calc(100vw - 194px);
    height: 50px;

    box-sizing: border-box;
    padding-left: 20px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: #4285F4;
    background-image: url('../../images/invisible.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    border: none;
    
    margin-left: 10px;
  }

  &__input-error {
    height: 28px;
  }
}

@media screen and (max-width: 1090px) {
  .search {
    padding: 0 30px 39px;

    &__input-error {
      height: 40px;
    }

    &__input {
      max-width: calc(100vw - 114px);
    }
  }
}

@media screen and (max-width: 520px) {
  .search {
    padding: 0 14px 39px;

    &__input {
      height: 44px;
      max-width: calc(100vw - 86px);
    }

    &__input-error {
      height: 46px;
    }
  }
}