.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 70px;

  &_blue {
    background-color: #073042;
  }
}

@media screen and (max-width: 918px) {
  .header {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 15px 14px;
  }
}