.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 70px;

  &_blue {
    background-color: #073042;
  }

  &__logo {
    padding: 3px 0 0;
  }
}

@media screen and (max-width: 1090px) {
  .header {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 15px 14px;
  }
}