%font {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer {
  padding: 0 70px;

  &__header {
    @extend %font;
    text-align: center;
    color: #8B8B8B;

    padding-top: 79px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #424242;

    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__year {
    @extend %font;
  }

  &__link {
    @extend %font;

    margin-left: 20px;
  }
}

@media screen and (max-width: 918px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding: 0 10px;
    
    &__header {
      font-size: 12px;
      line-height: 15px;
    }

    &__container {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: center;

      padding-top: 30px;
    }

    &__year {
      font-size: 12px;
      line-height: 15px;

      margin-top: 30px
    }

    &__link {
      font-size: 12px;
      line-height: 15px;

      margin: 12px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}