.techs {
  align-items: center;
  padding: 100px 70px;
  background-color: #272727;

  &__container {
    align-items: center;
  }

  &__subtitle {
    font-size: 50px;
    line-height: 58px;
    margin: 0;

    margin-top: 90px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    
    max-width: 460px;
    text-align: center;

    margin-top: 26px;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 10px;

    margin-top: 100px;

    padding: 0;
    max-width: 100%;
  }

  &__cell {
    border-radius: 10px;
    background-color: #303030;

    list-style-type: none;
  }

  &__text-cell {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 21px 0 22px;
  }
}