.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #272727;

  &__container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  &__title {
    margin-top: 90px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    
    max-width: 460px;
    text-align: center;

    margin-top: 26px;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 10px;

    margin-top: 100px;

    padding: 0;
    max-width: 100%;
  }

  &__cell {
    border-radius: 10px;
    background-color: #303030;

    list-style-type: none;
  }

  &__text-cell {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 21px 0;
  }
}

@media screen and (max-width: 918px) {
  .techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__title {
    margin-top: 80px;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;

    margin-top: 22px;
  }

  &__list {
    grid-template-columns: repeat(auto-fit, 84px);

    margin-top: 83px;
  }

  &__text-cell {
    font-size: 12px;
    line-height: 15px;
  }
}